<div class="profile-padding" ng-controller="ConfigurationsCtrl">
    <img class="pictureFrontCover img-responsive" />
    <section class="margin-top-20 styleBoxConfiguration container-fluid container-fullw bg-white padding-top-10 padding-bottom-10 backgroundGray">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <nav class="faq-sidebar hidden-print hidden-xs hidden-sm affix-top">
                        <ul class="nav bs-docs-sidenav">
                            <li>
                                <a ng-click="jumpToLocation(hideProfile)" class="active-anchor" translate="configurations.HIDE_PROFILE"></a>
                            </li>
                            <li>
                                <a ng-click="jumpToLocation(emailRecive)" class="active-anchor" translate="configurations.EMAIL_NOTIFICATIONS"></a>
                            </li>
                            <li>
                                <a ng-click="jumpToLocation(showEmail)" class="active-anchor" translate="configurations.SHOW_EMAIL"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div>
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h5 class="panel-title" translate="configurations.ALERT_NOTIFICATIONS"></h5>
                                </div>
                                <hr class="tall margin-bottom-0">
                            </div>
                            <div class="panel-body">
                                <p id="hideProfile" translate="configurations.HIDE_PROFILE"></p>
                                <div class="checkbox">
                                    <switch ng-change="switchProfileChange()" ng-model="switchProfile" on="Enable" off="Disable"></switch>
                                </div>
                                <p id="emailRecive" translate="configurations.EMAIL_NOTIFICATIONS">
                                </p>
                                <div class="checkbox">
                                    <switch ng-change="switchEmailChange()" ng-model="switchEmail" on="Enable" off="Disable"></switch>
                                </div>
                                <p id="showEmail" translate="configurations.SHOW_EMAIL"></p>
                                <div class="checkbox">
                                    <switch ng-change="switchShowEmailChange()" ng-model="switchShowEmail" on="Enable" off="Disable"></switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>