<div class="profile-padding" ng-controller="ConfigurationsCtrl">
    <section class="container-fluid container-fullw bg-white padding-top-10 padding-bottom-10 backgroundGray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h5 class="panel-title">Alertas y notificaciones</h5>
                                </div>
                                <hr class="tall margin-bottom-0">
                            </div>
                            <div class="panel-body">
                                <p>
                                    Ocultar perfil
                                </p>
                                <div class="checkbox">
                                    <switch ng-model="switchsetting" ng-init="switchsetting = true" class="green"></switch>
                                </div>
                                <p>
                                    Recivir notificaciones por email
                                </p>
                                <div class="checkbox">
                                    <switch ng-model="switchsetting" ng-init="switchsetting = true" class="green"></switch>
                                </div>
                                <p>
                                    Mostrar email
                                </p>
                                <div class="checkbox">
                                    <switch ng-model="switchsetting" ng-init="switchsetting = true" class="green"></switch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>