<div class="profile-padding" ng-controller="ConfigurationsCtrl">
    <section class="container-fluid container-fullw bg-white padding-top-10 padding-bottom-10 backgroundGray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <h5 class="panel-title">Alertas y notificaciones</h5>
                                <hr class="tall">
                            </div>
                            <div class="panel-body">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="emailNotifications" value="1">
                                    <label for="emailNotifications">
                                        Recive notificaciones by email
                                    </label>
                                </div>
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="checkbox7" value="1">
                                    <label for="checkbox7">
                                        Checkbox 2
                                    </label>
                                </div>
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="checkbox8" value="1">
                                    <label for="checkbox8">
                                        Checkbox 3
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>