<div class="profile-padding" ng-controller="EditUserProfileCtrl">
    <img class="pictureFrontCover img-responsive hidden-xs" />
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">
                <div class="AvatarXSBox">
                    <input type="image" ng-src="{{user.avatar}}" class="img-circle avatarXS" ng-click="openModalImageCropper()">
                </div>
                <div class="UserInfoBox">
                    <h4 class="padding-0 margin-top-10">
                        <strong>{{user.firstname}} {{user.lastname}}</strong>
                    </h4>
                    <h5 class="padding-0">@{{user.username}}</h5>
                </div>
                <div class="col-xs-12">
                    <textarea class="testimonial-text col-xs-12 padding-0 resize-none min-height-80" data-appears-class="fadeInUp" ng-model="user.info"></textarea>
                    <input type="text" class="col-xs-12 padding-0" ng-model="user.email">
                </div>
            </div>
        </div>
        <div class="col-xs-12 marginTopMovil-10">
            <nav class="nav navbar-default ColorNavBar">
                <ul class="list-inline SocialIcon list-unstyled">
                    <li ng-repeat="sn in user.socialnetworks" class="padding-5">
                        <a type="button" class="SocialList HoverWhite padding-top-2 social-{{sn.type}}" ng-click="deleteSocialNetwork(sn.id)">
                            <i class="{{sn.type}}"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="container-fluid container-fullw bg-white padding-top-10 padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container hidden-xs
                        col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10">
                            <form class="form" name="form">
                                <img ngf-thumbnail="user.avatar" class="img-circle image_middle col-xs-12" />
                                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span ng-click="openModalImageCropper()" class="btn btn-success fileinput-button button-image-left
                                          col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                                        <i class="ti-pencil-alt"></i>
                                    </span>
                                </div>
                            </form>
                            <div class="center-text">
                                <h4 class="col-xs-12 padding-0 margin-top-10">{{user.firstname}} {{user.lastname}}</h4>
                                <h4 class="col-xs-12 padding-0">@{{user.username}}</h4>
                                <textarea class="testimonial-text col-xs-12 padding-0 resize-none min-height-80" data-appears-class="fadeInUp" ng-model="user.info"></textarea>
                                <input type="email" class="col-xs-12 padding-0 margin-top-5" ng-model="user.email">
                            </div>                            
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-20">
                                <ul class="ltwt">
                                    <li ng-repeat="snippet in user.snippets" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
                                        <div class="DeleteSnippetBox">
                                            <button class="btn btn-red" ng-click="deleteSnippets(snippet.url)">
                                                <i class="ti-trash"></i>
                                            </button>
                                        </div>
                                        <div class="SnippetBox">
                                            <h4 class="margin-bottom-0">{{snippet.title}}</h4>
                                            <h5 class="ltwt_tweet_text" ng-bind-html="snippet.body"></h5>
                                            <span class="block text-light margin-bottom-20">
                                                <i class="fa fa-fw fa-clock-o"></i> {{snippet.created | timeago}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 padding-left-0 padding-right-0" ng-if="user.snippets.length > 0">
                                <ul class="pager ng-isolate-scope ng-not-empty ng-valid">
                                    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}" class="previous">
                                        <a ng-click="previous()" class="ng-binding">« Previous</a>
                                    </li>
                                    <li ng-class="{disabled: noNext()||ngDisabled, next: align}" class="next">
                                        <a ng-click="next()" class="ng-binding">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <a data-toggle="modal" data-target="#modalChangePassword" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-key
                                                                        ButtonRadius col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>Change Password</span>
                        </a>
                    </div>
                    <div>
                        <a type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-save
                                                                ButtonRadius col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="saveProfile()">
                            <span>Save Profile</span>
                        </a>
                    </div>
                    <div class="paddingProfile">
                        <aside class="sidebar">
                            <div class="tabbable">
                                <div class="tabs">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a data-toggle="tab">
                                                <i class="ti-star"></i> Popular Users</a>
                                            <hr class="tall margin-0">
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="popularUsers">
                                            <ul class="post-list">
                                                <li ng-repeat="popularUser in users | limitTo: 3">
                                                    <div class="post-image">
                                                        <div class="img-thumbnail">
                                                            <a ng-click="goToProfile(popularUser.owner)">
                                                                <img ng-src="{{getAvatar(popularUser.avatar)}}" class="img-responsive">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="post-info">
                                                        <!--<a ng-click=""> {{popularUser.firstname}} {{popularUser.lastname}}</a>-->
                                                        <a ng-click="goToProfile(popularUser.owner)">{{popularUser.owner}}</a>
                                                        <h5>{{popularUser.info}}</h5>
                                                    </div>
                                                </li>
                                                <li class="ListMoreUser">
                                                    <a type="button" class="btn btn-o btn-primary ButtonMoreUser pull-right" ui-sref='users'>
                                                        <i class="ti-arrow-right"></i> See more
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- start: MODAL IMAGE CROPPER-->
    <div class="modal fade" id="ModalImageCropper">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-header padding-15">
                        <a type="button" class="close" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <h4 class="modal-title">
                            <i class="ti-user"></i> Crop Image</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="file" id="fileInput" class="btn btn-primary LoadImageModalButton" onchange="angular.element(this).scope().uploadFile(this.files[0])">
                    <div class="cropArea margin-top-10">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary pull-right ButtonRadius margin-left-5 margin-right-5" data-dismiss="modal">Cancel</a>
                    <a type="button" class="btn btn-primary pull-right ButtonRadius margin-left-5 margin-right-5" ng-click="crop()">Crop</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: MODAL IMAGE CROPPER-->
    <!-- start: MODAL CHANGE PASSWORD-->
    <div class="modal fade" id="modalChangePassword" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" ng-controller="FormController">
                    <div class="modal-header padding-15">
                        <button type="button" class="close margin-top--10" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <i class="ti-key"></i> Change Password
                        </h4>
                    </div>
                    <div class="modal-body padding-15">
                        <form name="ChangePassword" role="form">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="form-hint">To conform with our Strong Password policy, you are required to use a sufficiently strong password. Password must be
                                    more than 7 characters.</div>
                                <input type="password" class="form-control ok-password" ng-class="(ChangePassword.password.$dirty && ChangePassword.password.$invalid) ? 'error' : ''"
                                    id="password" name="password" placeholder="Enter Password" ng-required="true" ng-model="password">
                                <div class="label password-count" ng-class="password.length > 7 ? 'label-success' : 'label-danger'" ng-cloak>{{ password | passwordCount:7 }}</div>
                                <div class="strength-meter">
                                    <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="againPassHome">Password again:</label>
                                <input type="password" class="form-control" id="againPassHome" placeholder="New password" name="againPassHome" ng-model="againPassHome"
                                    pw-check="password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer padding-15">
                        <a class="btn btn-primary ButtonRadius" data-dismiss="modal">
                            <i class="ti-close"></i> Close
                        </a>
                        <a class="btn btn-primary ButtonRadius" ng-controller="" ng-disabled="ChangePassword.$invalid" ng-click="">
                            <i class="ti-user"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: MODAL CHANGE PASSWORD-->
</div>