<div class="profile-padding" ng-controller="EditUserProfileCtrl">
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10">
                            <img src="assets/images/team-1.jpg" class="img-circle testimonial-thumb image_middle"/>
                            <a type="button" class="btn btn-success btn-wide margin-top-10">
                                <i class="ti-save"></i> Save Profile
                            </a>
                        </div>
                        <div class="testimonial-container col-xs-12 col-sm-9 col-md-9 col-lg-9 padding-top-15 padding-left-15">
                            <h4>Who I'm?</h4>
                            <textarea ng-modal="user.info" class="form-control"></textarea>
                            <!--<h5 class="testimonial-text" data-appears-class="fadeInUp"-->
                            <!--data-appears-delay="100">{{user.info}}-->
                            <!--</h5>-->
                        </div>
                    </div>
                    <div class="row padding-top-15">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
                            <h4>My social networks</h4>
                        </div>
                        <div class="social-icons col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 margin-top-10">
                            <ul>
                                <li data-placement="bottom" data-original-title="Twitter" class="social-twitter tooltips">
                                    <a href="http://www.twitter.com" target="_blank"> Twitter </a>
                                </li>
                                <li data-placement="bottom" data-original-title="Dribbble" class="social-dribbble tooltips">
                                    <a href="http://dribbble.com" target="_blank"> Dribbble </a>
                                </li>
                                <li data-placement="bottom" data-original-title="Facebook" class="social-facebook tooltips">
                                    <a href="http://facebook.com" target="_blank"> Facebook </a>
                                </li>
                                <li data-placement="bottom" data-original-title="Google" class="social-google tooltips">
                                    <a href="http://google.com" target="_blank"> Google+ </a>
                                </li>
                                <li data-placement="bottom" data-original-title="LinkedIn" class="social-linkedin tooltips">
                                    <a href="http://linkedin.com" target="_blank"> LinkedIn </a>
                                </li>
                                <li data-placement="bottom" data-original-title="YouTube" class="social-youtube tooltips">
                                    <a href="http://youtube.com/" target="_blank"> YouTube </a>
                                </li>
                                <li data-placement="bottom" data-original-title="RSS" class="social-rss tooltips">
                                    <a href="#" target="_blank"> RSS </a>
                                </li>
                                <li data-placement="bottom" data-original-title="ADD" class="social-add tooltips pull-right">
                                    <a href="#" target="_blank"> ADD </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row padding-top-40">
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
                            <h4 class="inline-block">Snippets</h4>
                            <!--<a type="button" class="btn btn-primary btn-sm inline-block pull-right">-->
                            <!--<i class="ti-plus"></i>-->
                            <!--Add Snippets-->
                            <!--</a>-->
                        </div>
                        <div class="panel-body col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
                            <ul class="ltwt">
                                <!--<li ng-repeat="snippet in user.snippets">-->
                                    <!--<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">-->
                                        <!--<button class="btn btn-red">-->
                                            <!--<i class="ti-trash"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <!--<div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">-->
                                        <!--<h5 class="ltwt_tweet_text" ng-bind-html="snippet.body"></h5>-->
                                        <!--<span class="block text-light margin-bottom-20"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li>
                                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                        <button class="btn btn-red">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </div>
                                    <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                                        <h5 class="ltwt_tweet_text"> Probando </h5>
                                        <span class="block text-light margin-bottom-20"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        <h4>Categories</h4>
                        <ul class="nav nav-list blog-categories">
                            <li>
                                <a href="#"> Travel </a>
                            </li>
                            <li>
                                <a href="#"> Design </a>
                            </li>
                            <li>
                                <a href="#"> Videos </a>
                            </li>
                            <li>
                                <a href="#"> Photography </a>
                            </li>
                            <li>
                                <a href="#"> Lifestyle </a>
                            </li>
                        </ul>
                        <div class="tabbable">
                            <div class="tabs">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a>
                                    </li>
                                    <li>
                                        <a href="#recentPosts" data-toggle="tab"> Recent </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="popularPosts">
                                        <ul class="post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image01_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image02_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Vitae Nibh Un Odiosters </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image03_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Odiosters Nullam Vitae </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="recentPosts">
                                        <ul class="post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image04_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Vitae Nibh Un Odiosters </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image05_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Odiosters Nullam Vitae </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#"> <img src="assets/images/portfolio/image06_th.jpg" alt="" class="img-responsive"> </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                    <div class="post-meta">
                                                        Jan 10, 2014
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>About Us</h4>
                        <p>
                            Culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.
                        </p>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
