<div class="main-content" ng-controller="ExploreUsersCtrl">
    <div class="container">
        <div class="row">
            <h2 class="text-center" data-appears-class="fadeInUp" data-appears-delay="300">Meet the Team</h2>
            <hr />
            <p data-appears-delay="300" data-appears-class="fadeInDown" class="text-center">
                Nulla consequat massa quis enim.
                <strong>Donec pede justo</strong> fringilla vel, aliquet nec, vulputate eget, arcu.
                <br> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
            </p>
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                <div data-appears-group-delay="0" data-appears-delay-increase="200">
                    <ul class="team-list list-unstyled">
                        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-top-15 padding-bottom-15" ng-repeat="profile in profiles">
                            <div class="styleBox">
                                <div class="ImageBox">
                                    <img src="{{profile.avatar}}" class="img-responsive img-circle avatar-users" ng-click="goToProfile(profile.owner)">
                                </div>
                                <div class="center">
                                    <h3>@{{profile.owner}}</h3>
                                    <p class="text-dark">
                                        {{profile.info}}
                                    </p>
                                </div>
                                <div class="buttonContainer">
                                    <a class="btn btn-primary" ng-click="goToProfile(profile.owner)">See Profile</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        Main.init();
    });
</script>