<div class="main-content" ng-controller="ExploreUsersCtrl">
    <section class="container-fluid container-fullw">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div data-appears-group-delay="0" data-appears-delay-increase="200">
                            <ul class="team-list list-unstyled">
                                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4 user-box" ng-repeat="profile in profiles">
                                    <div class="opacity-0" data-appears-class="fadeIn">
                                        <div class="thumb icons-effect margin-bottom-15">
                                            <img src="{{profile.avatar}}"class="img-responsive avatar-users">
                                        </div>
                                        <h3>{{profile.owner}}</h3>
                                        <div class="team-member-description">
                                            <p class="text-dark">
                                                {{profile.info}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    jQuery(document).ready(function() {
        Main.init();
    });
</script>