<div class="main-content padding-top-50 padding-bottom-0" ng-controller="FAQCtrl">
    <div>
        <img class="pictureExploreUser" ng-src="HTML/assets/images/FAQ.jpg" />
        <!-- <h2 class="text-center textPictureExploreUsers col-xs-12" translate="explore_user.EXPLORE_PROFILES"></h2>
        <p class="text-center font-size-15 textPictureExploreUsersSeconds col-xs-12" translate="explore_user.EXPLORE_PROFILES"></p> -->
    </div>
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-bottom-30">
                        <h2 class="text-center" data-appears-class="fadeInUp" data-appears-delay="300">Meet the Team</h2>
                        <hr />
                        <p data-appears-delay="300" data-appears-class="fadeInDown" class="text-center">
                            Nulla consequat massa quis enim.
                            <strong>Donec pede justo</strong> fringilla vel, aliquet nec, vulputate eget, arcu.
                            <br> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut
                            pulvinar lectus. Sed hendrerit nibh.
                        </p>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut
                            pulvinar lectus. Sed hendrerit nibh.
                        </p>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut
                            pulvinar lectus. Sed hendrerit nibh.
                        </p>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 4</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut
                            pulvinar lectus. Sed hendrerit nibh.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>