<div class="main-content padding-top-50">
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-bottom-30">
                        <h4 id="new-product">About the new Product</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla
                            non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla
                            non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr/>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla
                            non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr/>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla
                            non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr/>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 id="new-product">Question 4</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla
                            non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>