<div class="main-content">
    <section id="page-title" class="page-title-background" style="background-image: url('assets/images/tshirts.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="mainTitle title-white">Team</h1>
                    <span class="mainDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.</span>
                </div>
            </div>
        </div>
    </section>
    <div class="row padding-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>About us</h2>
            <p>
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>
                Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
            </p>
        </div>
    </div>
    <section class="container-fluid">
        <div class="row padding-left-30 padding-right-30 padding-top-10 padding-bottom-10">
            <h2>Partners</h2>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-desktop fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Responsive Framework</h4>
                            <p>
                                Clip-Two is fully responsive and adapts to every screen size. We obsessively test it all so your content looks beautiful.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-diamond fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Clean Design</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-rocket fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Parallax Effects</h4>
                            <p>
                                Everyone loves parallax scrolling effects, they are simply beautiful. Clip-Two has advanced parallax options &amp; controls.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-left-30 padding-right-30 padding-top-10 padding-bottom-10">
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-life-ring fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Free updates &amp; support</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-cubes fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Incredibly Flexible</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-picture-o fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Awesome Sliders</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-left-30 padding-right-30 padding-top-10 padding-bottom-10">
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-flag-checkered  fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Translation &amp; RTL</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-eye fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Retina Ready</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40 ">
                    <div class="pull-left" data-appears-class="bounceIn">
                        <i class="text-primary fa fa-cogs fa-3x"></i>
                    </div>
                    <div>
                        <div class="padding-left-50">
                            <h4 class="margin-bottom-25 text-uppercase">Unlimited Options</h4>
                            <p>
                                A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid container-fullw">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Thanks To</h2>
                    <hr />
                </div>
                <div class="col-md-4">
                    <h4 class="over-title margin-bottom-15">Advanced Tools and <span class="text-bold">Software</span></h4>
                    <p>
                        Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="over-title margin-bottom-15">Exclusive Industry <span class="text-bold">Knowledge</span></h4>
                    <p>
                        Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="over-title margin-bottom-15">Cost <span class="text-bold">Benefit</span></h4>
                    <p>
                        Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>