<div class="main-content" ng-controller="HomeCtrl">
    <section id="page-title" class="page-title-background" style="background-image: url('assets/images/slider/about-slide1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="mainTitle title-white">T-shirts with technology</h1>
                    <span class="mainDescription">A new way to reach your customers, to contact you and visit your business through social networks</span>
                    <button type="button" class="btn btn-primary margin-top-15 opacity-0 btn-wide btn-scroll btn-scroll-top fa-arrow-right" data-caption-class="fadeIn" data-caption-delay="900">
                        <span>Buy a T-shirt Now</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- start: SECTION RESPONSIVE DESIGN -->
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-responsive inline" src="assets/images/iphone.png" data-appears-class="fadeInLeft" data-appears-delay="300">
                </div>
                <div class="col-sm-8">
                    <h2 class="margin-top-30">Ultra-Responsive Design</h2>
                    <hr class="fade-right">
                    <p>
                        Lid est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns.
                    </p>
                    <p>
                        Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips ameet quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                    <hr class="fade-right">
                    <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa-arrow-right">
                        <span>Learn more...</span>
                    </button>

                </div>
            </div>
        </div>
    </section>
    <!-- end: SECTION RESPONSIVE DESIGN -->
    <div class="row padding-0">
        <section class="container-fluid container-fullw" data-stellar-background-ratio="0.5" style="background-image: url('assets/images/home-background.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <i class="ti-shortcode fa-4x text-primary"></i>
                            <span class="block counter text-white" id="counter">8522</span>
                            <hr class="white-hr"/>
                            <p class="block text-light">
                                LINES OF CODE
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <i class="ti-folder fa-4x text-primary"></i>
                            <span class="block counter text-white">532</span>
                            <hr class="white-hr" />
                            <p class="block text-light">
                                ANNUAL PROJECTS
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <i class="ti-stats-up fa-4x text-primary"></i>
                            <div class="block">
                                <span class="counter text-white">118</span>
                                <span class="counter-symbol text-white">%</span>
                            </div>
                            <hr class="white-hr" />
                            <p class="block text-light">
                                AVERAGE PROFIT MARKUP
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <i class="ti-user fa-4x text-primary"></i>
                            <span class="block counter text-white">4832</span>
                            <hr class="white-hr" />
                            <p class="block text-light">
                                SATISFIED CUSTOMERS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: SECTION NUMBERS -->
        <!-- start: SECTION BUTTON BLOCK -->
        <section class="container-fluid container-fullw no-padding no-border">
            <a class="btn btn-primary btn-block no-radius wrap">
                <div class="container clearfix margin-top-15 margin-bottom-15">
                    <h2 class="no-margin text-white">Buy all technologies from Alibaba.com <strong>  Buy Now</strong></h2>
                </div> </a>
        </section>
    </div>
</div>