<div class="main-content-home" ng-controller="HomeCtrl">
    <ui-carousel slides="fade.slides" arrows="true" slides-to-show="3" slides-to-scroll="1" fade="true" initial-slide="1" dots="true" infinite="true">
        <carousel-item>
            <div class="Carouselimage"><img class="img-responsive" ng-src="{{ item }}"></div>
        </carousel-item>
        <carousel-prev>
            <button class="swiper-button-prev ButtonCarousel"></button>
        </carousel-prev>
        <carousel-next>
            <button class="swiper-button-next ButtonCarousel"></button>
        </carousel-next>
    </ui-carousel>
    <!-- <section id="page-title" class="page-title-background" style="background-image: url('HTML/assets/images/slider/about-slide1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="mainTitle title-white" translate="home.TEXT_TSHIRTS"></h1>
                    <span class="mainDescription" translate="home.TEXT_HOME"></span>
                    <div class="btn-group margin-top-10">
                        <a ng-hide="connected" type="button" class="btn btn-primary margin-right-10 ButtonRadius" data-toggle="modal" data-target="#myModalLoginHome">
                            <i class="ti-shift-right"></i>
                            <label class="textColorWhite margin-bottom-0 pointerHover" translate="home.LOG_IN"></label>
                        </a>
                        <a ng-hide="connected" type="button" class="btn btn-primary ButtonRadius" data-toggle="modal" data-target="#myModalRegisterHome">
                            <i class="ti-write"></i>
                            <label class="textColorWhite margin-bottom-0 pointerHover" translate="home.REGISTER"></label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <h2 ui-sref="users" class="text-center pointerHover" data-appears-class="fadeInUp" data-appears-delay="300" translate="home.MEET_TEAM"></h2>
                <hr />
                <p data-appears-delay="300" data-appears-class="fadeInDown" class="text-center" translate="home.MEET_TEXT"></p>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="team-list list-unstyled">
                        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 padding-top-15 padding-bottom-15" ng-repeat="profile in profiles | limitTo:countLimit">
                            <div class="styleBox marginUserHome">
                                <img ng-show="profile.confVisible" class="IconSnippet iconEyeHome" ng-src="HTML/assets/images/visible.png"></img>
                                <img ng-hide="profile.confVisible" class="IconSnippet iconEyeHome" ng-src="HTML/assets/images/hide.png"></img>
                                <div class="imageBoxHome backgroundWhite border-radius50">
                                    <img ng-src="{{profile.avatar}}" class="img-circle imgProfile pointerHover" ng-click="goToProfile(profile.owner)" />
                                </div>
                                <div class="center padding-left-10 padding-right-10">
                                    <h3 ng-hide="profile.fullname == ''">{{profile.fullname}}</h3>
                                    <h3 ng-show="profile.fullname == ''">@{{profile.owner}}</h3>
                                    <p class="text-dark">
                                        {{profile.info | htmlToPlaintext | words:10 :true}}
                                    </p>
                                </div>
                                <div class="buttonContainer">
                                    <a class="btn btn-primary" ng-click="goToProfile(profile.owner)" translate="home.SEE_PROFILE"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr class="tall">
                        <a class="btn btn-primary marginButtonUserHome" ui-sref="users" translate="home.EXPLORE_MORE"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <h2 class="center no-visible" data-appears-class="fadeInUp" data-appears-delay="300">Take a look at some of our work</h2>
                <hr>
                <p class="text-center no-visible" data-appears-class="fadeInDown" data-appears-delay="300">
                    Nulla consequat massa quis enim. <strong>Donec pede justo</strong> fringilla vel, aliquet nec, vulputate eget, arcu.
                    <br> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-appears-group-delay="0" data-appears-delay-increase="300" id="portfolio">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-visible" data-appears-class="fadeIn">
                            <div class="figure-wrapper">
                                <figure class="effect-zoe">
                                    <img alt="" src="HTML/assets/images/slider/slide1.jpg" class="img-responsive">
                                    <figcaption>
                                        <h2>Portfolio <span>Item 1</span></h2>
                                        <p class="icon-links">
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-plus fa-stack-1x fa-inverse text-small"></i> </span></a>
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse text-small"></i> </span></a>
                                        </p>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit.
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-visible" data-appears-class="fadeIn">
                            <div class="figure-wrapper">
                                <figure class="effect-zoe">
                                    <img alt="" src="HTML/assets/images/slider/slide2.jpg" class="img-responsive">
                                    <figcaption>
                                        <h2>Portfolio <span>Item 2</span></h2>
                                        <p class="icon-links">
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-plus fa-stack-1x fa-inverse text-small"></i> </span></a>
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse text-small"></i> </span></a>
                                        </p>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit.
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-visible" data-appears-class="fadeIn">
                            <div class="figure-wrapper">
                                <figure class="effect-zoe">
                                    <img alt="" src="HTML/assets/images/slider/slide3.jpg" class="img-responsive">
                                    <figcaption>
                                        <h2>Portfolio <span>Item 3</span></h2>
                                        <p class="icon-links">
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-plus fa-stack-1x fa-inverse text-small"></i> </span></a>
                                            <a><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse text-small"></i> </span></a>
                                        </p>
                                        <p class="description">
                                            Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit.
                                        </p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- end: SECTION RESPONSIVE DESIGN -->
    <div class="row padding-0">
        <section class="container-fluid container-fullw" data-stellar-background-ratio="0.5" style="background-image: url('HTML/assets/images/home-background.jpg');">
            <div class="container">
                <div class="row" ng-cloak>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/totalofvisit.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.totalVisits}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.TOTAL_VISITS"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/returpercentage.png" class="IconFats">
                            <div class="block">
                                <span class="font-size-50 text-white">{{tracks.returnRatio}}</span>
                                <span class="counter-symbol text-white">%</span>
                            </div>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.RETURN_RATIO"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/timeonsite.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.timeOnSite}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.TIME_ON_SITE"></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="padding-40 text-center">
                            <img ng-src="HTML/assets/images/clients.png" class="IconFats">
                            <span class="block font-size-50 text-white">{{tracks.satisfiedCustomers}}</span>
                            <hr class="white-hr" />
                            <p class="block text-light" translate="home.SATISFIED_CUSTOMERS"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid container-fullw bg-white">
            <div class="container">
                <div class="row">
                    <h2 class="text-center" data-appears-class="fadeInUp" data-appears-delay="300" translate="home.OUR_BACKERS"></h2>
                    <hr />
                    <p data-appears-delay="300" data-appears-class="fadeInDown" class="text-center" translate="home.MEET_TEXT"></p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{countBackers}}
                        <ui-carousel class="margin-top-30 marginLeft25XS" slides="backers.slides" arrows="true" slides-to-show="countBackers" slides-to-scroll="1" initial-slide="1" infinite="true">
                            <carousel-item>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-g-10">
                                    <div class="styleBoxBackers marginUserHome">
                                        <div class="center padding-left-10 padding-right-10">
                                            <h4 class="margin-top-15 hoverColor">{{item.name}}</h4>
                                            <hr class="tall margin-top-0 margin-bottom-0">
                                            <h5 class="margin-top-10 hoverColor">{{item.backers}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </carousel-item>
                            <carousel-prev>
                                <button class="slick-prev"></button>
                            </carousel-prev>
                            <carousel-next>
                                <button class="slick-next marginRightButtonCarouselNext"></button>
                            </carousel-next>
                        </ui-carousel>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid container-fullw bg-white padding-top-0 paddingBottom0XS borderNoneXS">
            <div class="Separator"></div>
        </section>
    </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            Main.init();
        });
    </script>