<div class="profile-padding-inbox" ng-controller="InboxCtrl">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 border-right OptionsBox">
        <ul class="ListOptions">
            <li>
                <a ng-click="changeInboxFlag(true)">
                    <span class="title"><i class="ti-import"></i> Inbox</span>
                    <span class="badge pull-right ng-binding ng-scope margin-top-8" ng-if="messagesInbox.length > 0">{{getCount()}}</span>
                </a>
            </li>
            <li>
                <a ng-click="changeInboxFlag(false)">
                    <span class="title"><i class="ti-upload"></i> Send</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 InboxBox" ng-if="inboxFlag">
        <ul class="list-unstyled">
            <li class="padding-top-20 padding-bottom-10 border-bottom" ng-if="messagesInbox.length == 0">
                <span class="MessageSubject"> No message found</span>
            </li>
            <li class="padding-top-20 padding-bottom-10 border-bottom"
                ng-class="{MessageUnread: message.readed == false}" ng-repeat="message in messagesInbox">
                <a><i class="fa fa-circle status-online"></i></a>
                <div>
                    <span class="MessageFrom"> {{message.sender}}</span>
                    <span class="text MessageTime"> {{message.created | date}}</span>
                </div>
                <div>
                    <span class="MessageSubject"> {{message.subject}}</span>
                </div>
                <div>
                    <span class="MessageContent"> {{message.body}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 SendBox" ng-if="!inboxFlag">
        <li class="padding-top-20 padding-bottom-10 border-bottom" ng-if="messagesSend.length == 0">
            <span class="MessageSubject"> No message found</span>
        </li>
        <ul class="list-unstyled">
            <li class="padding-top-20 padding-bottom-10 border-bottom" ng-repeat="message in messagesSend">
                <div>
                    <span class="MessageFrom"> {{message.sender}}</span>
                    <span class="text MessageTime"> {{message.created | date}}</span>
                </div>
                <div>
                    <span class="MessageSubject"> {{message.subject}}</span>
                </div>
                <div>
                    <span class="MessageContent"> {{message.body}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>