<div class="profile-padding" ng-controller="UserProfileCtrl">
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container col-xs-12 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10">
                            <img src="assets/images/team-1.jpg" class="img-circle image_middle col-xs-12"/>
                            <a type="button" class="btn btn-success btn-wide margin-top-10 margin-bottom-10 col-xs-12" ui-sref="edit-profile">
                                <i class="ti-reload"></i> Edit Profile
                            </a>
                            <h4 class="col-xs-12 padding-0">{{user.firstname}} {{user.lastname}}</h4>
                            <h4 class="col-xs-12 padding-0">@{{user.username}}</h4>
                            <h5 class="testimonial-text col-xs-12 padding-0" data-appears-class="fadeInUp"
                                data-appears-delay="100">{{user.info}}
                            </h5>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div class="tabbable">
                                <ul id="myTab1" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#socialnetworks" data-toggle="tab">
                                            Social Networks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#snippets" data-toggle="tab">
                                            Snippets
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="socialnetworks">
                                        <ul class="list-unstyled">
                                            <li ng-repeat="sn in user.socialnetworks">
                                                <div class="social-icons social-icons-block">
                                                    <ul class="list-inline">
                                                        <li data-placement="bottom" class="{{sn.type}} tooltips">
                                                            <a></a>
                                                        </li>
                                                        <li>
                                                            <h4 class="margin-top-5 margin-left-10">{{sn.name}}</h4>
                                                            <h5 class="margin-top-5 margin-left-10 style-link">
                                                                {{sn.url}}
                                                            </h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <hr class="tall">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="snippets">
                                        <ul class="ltwt">
                                            <li ng-repeat="snippet in user.snippets">
                                                <h4>{{snippet.title}}</h4>
                                                <h5 class="ltwt_tweet_text" ng-bind-html="snippet.body"></h5>
                                                <span class="block text-light margin-bottom-20"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="margin-bottom-20">
                            <button type="button" ng-click="openModalSnippets()"
                                    class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span>Add Snippet</span>
                            </button>
                        </div>
                        <div class="margin-bottim-20">
                            <button type="button" ng-click="openAddSocialNetworkModal()"
                                    class="btn btn-primary btn-wide btn-scroll btn-scroll-left ti-mobile">
                                <span>Add Social Network</span>
                            </button>
                        </div>
                        <div class="padding-top-25">
                            <aside class="sidebar">
                                <div class="tabbable">
                                    <div class="tabs">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="active">
                                                <a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a>
                                            </li>
                                            <li>
                                                <a href="#recentPosts" data-toggle="tab"> Recent </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="popularPosts">
                                                <ul class="post-list">
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image01_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image02_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image03_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Odiosters Nullam Vitae </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" id="recentPosts">
                                                <ul class="post-list">
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image04_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image05_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Odiosters Nullam Vitae </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image06_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
