<div class="profile-padding" ng-controller="UserProfileCtrl">
    <section class="container-fluid container-fullw bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container col-xs-12 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10">
                            <img ng-src="{{user.avatar}}" class="img-circle image_middle col-xs-12"/>
                            <h4 class="col-xs-12 padding-0 margin-top-10">{{user.firstname}} {{user.lastname}}</h4>
                            <h4 class="col-xs-12 padding-0">@{{user.username}}</h4>
                            <h5 class="testimonial-text col-xs-12 padding-0" data-appears-class="fadeInUp"
                                data-appears-delay="100">{{user.info}}
                            </h5>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <hr class="tall" ng-show="user.socialnetworks.length > 0">
                                <div class="social-icons center">
                                    <ul class="list-inline">
                                        <li ng-repeat="sn in user.socialnetworks" data-original-title="sn.name" data-placement="bottom" class="{{sn.type}} tooltips">
                                            <a ng-click="goToLink(sn.url)"> {{sn.name}} </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="tall" ng-show="user.socialnetworks.length > 0">
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-20">
                                <ul class="ltwt">
                                    <li ng-repeat="snippet in user.snippets">
                                        <h4>{{snippet.title}}</h4>
                                        <h5 class="ltwt_tweet_text" ng-bind-html="snippet.body"></h5>
                                        <span class="block text-light margin-bottom-20"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div ng-controller="ImageDownloadCtrl">
                            <a type="button" href="{{user.avatar}}" download class="btn btn-primary btn-wide margin-top-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span>Obtain QR Code</span>
                            </a>
                        </div>
                        <div>
                            <button type="button" ng-click="openModalSnippets()"
                                    class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus margin-top-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span>Add Snippet</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" ng-click="openAddSocialNetworkModal()"
                                    class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-mobile col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                <span>Add Social Network</span>
                            </button>
                        </div>
                        <div class="padding-top-25 margin-top-110">
                            <aside class="sidebar">
                                <div class="tabbable">
                                    <div class="tabs">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="active">
                                                <a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a>
                                            </li>
                                            <li>
                                                <a href="#recentPosts" data-toggle="tab"> Recent </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="popularPosts">
                                                <ul class="post-list">
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image01_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image02_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image03_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Odiosters Nullam Vitae </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane" id="recentPosts">
                                                <ul class="post-list">
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image04_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image05_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Odiosters Nullam Vitae </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="post-image">
                                                            <div class="img-thumbnail">
                                                                <a href="#"> <img src="assets/images/portfolio/image06_th.jpg" alt="" class="img-responsive"> </a>
                                                            </div>
                                                        </div>
                                                        <div class="post-info">
                                                            <a href="#"> Nullam Vitae Nibh Un Odiosters </a>
                                                            <div class="post-meta">
                                                                Jan 10, 2014
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
