<div class="profile-padding" ng-controller="ViewProfileCtrl">
    <img class="pictureFrontCover img-responsive hidden-xs" />
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">
                <div class="AvatarXSBox">
                    <img ng-src="{{user.avatar}}" class="img-circle avatarXS" />
                </div>
                <div class="UserInfoBox">
                    <h4 class="padding-0 margin-top-10">
                        <strong>{{user.fullname}}</strong>
                    </h4>
                    <h5 class="padding-0">@{{user.username}}</h5>
                </div>
                <div class="col-xs-12">
                    <h5 class="testimonial-text padding-0" data-appears-class="fadeInUp" data-appears-delay="100">{{user.info}}
                    </h5>
                    <h5 class="padding-0">
                        <i class="ti-email"></i> {{user.email}}</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <nav class="nav navbar-default ColorNavBar">
                <ul class="list-inline SocialIcon list-unstyled">
                    <li ng-repeat="sn in user.socialnetworks" class="padding-5">
                        <a type="button" class="SocialList HoverWhite padding-top-2 social-{{sn.type}}" ng-click="goToLink(sn.url)">
                            <i class="{{sn.type}}"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="container-fluid container-fullw bg-white padding-top-10 padding-bottom-10">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="testimonial-container
                        col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0 margin-top-10">
                            <img ng-src="{{user.avatar}}" class="img-circle image_middle hidden-xs" />
                            <div class="UserInfoBox hidden-xs">
                                <h4 class="col-xs-12 padding-0 margin-top-10" ng-show="user.fullname != ''">
                                    <strong>{{user.fullname}}</strong>
                                </h4>
                                <h4 class="col-xs-12 padding-0">@{{user.username}}</h4>
                                <h5 class="testimonial-text col-xs-12 padding-0" data-appears-class="fadeInUp" data-appears-delay="100">{{user.info}}
                                </h5>
                                <h5 class="col-xs-12 padding-0">
                                    <i class="ti-email"></i> {{user.email}}</h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-20">
                                <ul class="ltwt">
                                    <li ng-repeat="snippet in user.snippets">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-0 padding-right-0">
                                            <div class="IconSnippetBox">
                                                <img class="IconSnippet" ng-src="./assets/images/iconosnniper.png"></img>
                                            </div>
                                            <div class="TitleSnippetBox">
                                                <h4>{{snippet.title}}</h4>
                                            </div>
                                        </div>
                                        <h5 class="ltwt_tweet_text" ng-bind-html="snippet.body"></h5>
                                        <span class="block text-light margin-bottom-20">
                                            <i class="fa fa-fw fa-clock-o"></i> {{snippet.created | timeago}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 row" ng-if="user.snippets.length > 0">
                                <ul class="pager ng-isolate-scope ng-not-empty ng-valid">
                                    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}" class="previous">
                                        <a ng-click="previous()" class="ng-binding">« Previous</a>
                                    </li>
                                    <li ng-class="{disabled: noNext()||ngDisabled, next: align}" class="next">
                                        <a ng-click="next()" class="ng-binding">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="padding-top-20">
                        <aside class="sidebar">
                            <div class="tabbable">
                                <div class="tabs">
                                    <ul class="nav nav-tabs nav-justified">
                                        <li class="active">
                                            <a data-toggle="tab">
                                                <i class="ti-star"></i> Popular Users</a>
                                            <hr class="tall margin-0">
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="popularUsers">
                                            <ul class="post-list">
                                                <li ng-repeat="popularUser in users | limitTo: 3">
                                                    <div class="post-image">
                                                        <div class="img-thumbnail">
                                                            <a ng-click="goToProfile(popularUser.owner)">
                                                                <img ng-src="{{getAvatar(popularUser.avatar)}}" class="img-responsive">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="post-info">
                                                        <!--<a ng-click=""> {{popularUser.firstname}} {{popularUser.lastname}}</a>-->
                                                        <a ng-click="goToProfile(popularUser.owner)">{{popularUser.owner}}</a>
                                                        <h5>{{popularUser.info}}</h5>
                                                    </div>
                                                </li>
                                                <li class="ListMoreUser">
                                                    <a type="button" class="btn btn-o btn-primary ButtonMoreUser pull-right" ui-sref='users'>
                                                        <i class="ti-arrow-right"></i> See more
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>