.modal-header {
    padding: 0;
}
.modal-header .close {
    padding: 10px 15px;
}
.modal-header ul {
    border: none;
}
.modal-header ul li {
    margin: 0;
}
.modal-header ul li a {
    border: none;
    border-radius: 0;
}
.modal-header ul li.active a {
    color: #e12f27;
}
.modal-header ul li a:hover {
    border: none;
}
.modal-header ul li a span {
    margin-left: 10px;
}
.modal-body .form-group {
    margin-bottom: 10px;
}

.style-link{
    color: #00B8B8;
}

.style-link:hover{
    cursor: pointer !important;
    color: #337ab7;
}

.button-image-left:hover {
    opacity: 1.0 !important;
}

.button-image-right:hover{
    opacity: 1.0 !important;
}

.resize-none{
    resize: none !important;
}

@media (max-width: 991px) {
    .profile-padding {
        padding-bottom: 0px !important;
    }
}

@media  (min-width: 768px) {
    .image_middle {
        float: left !important;
        height: 130px !important;
        width: 130px !important;
        padding: 0px !important;
        margin-left: 19% !important;
        margin-top: -44% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 130px !important;
        width: 130px !important;
        padding: 0px !important;
        margin-left: 19% !important;
    }

    .center-text {
        text-align: left !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 50px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .min-height-80 {
        min-height: 70px !important;
    }

    .button-image-left{
        margin-top: -36% !important;
        margin-left: 22% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -36% !important;
        margin-left: 60% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/768.jpg');
    }
}

@media (min-width: 770px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/800.jpg');
    }
}

@media (min-width: 801px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/850.jpg');
    }
}

@media (min-width: 851px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/900.jpg');
    }
}

@media (min-width: 901px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/950.jpg');
    }
}

@media (min-width: 951px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1000.jpg');
    }
}

@media (min-width: 1001px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1050.jpg');
    }
}

@media (min-width: 1051px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1100.jpg');
    }
}

@media (min-width: 1101px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1150.jpg');
    }
}

@media (min-width: 1151px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1200.jpg');
    }
}

@media (min-width: 1251px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1300.jpg');
    }
}

@media (min-width: 1301px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1366.jpg');
    }
}

@media  (max-width: 767px) {
    .image_middle {
        margin-left: 38% !important;
        float: left !important;
        height: 180px !important;
        width: 180px !important;
        padding: 0px !important;
        margin-top: -17% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 180px !important;
        width: 180px !important;
        padding: 0px !important;
        margin-left: 38% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 80px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .min-height-80 {
        min-height: 50px !important;
    }

    .button-image-left{
        margin-top: -15% !important;
        margin-left: 39% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -15% !important;
        margin-left: 58% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }
}

@media  (max-width: 480px) {
    .image_middle {
        margin-left: 32% !important;
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-top: -26% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 32% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 50px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .button-image-left{
        margin-top: -20% !important;
        margin-left: 34% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -20% !important;
        margin-left: 58% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }
}

@media  (max-width: 415px) {
    .image_middle {
        margin-left: 28% !important;
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-top: -32% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 28% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 50px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .button-image-left{
        margin-top: -23% !important;
        margin-left: 30% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -23% !important;
        margin-left: 58% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }
}

@media  (max-width: 375px) {
    .image_middle {
        margin-left: 25% !important;
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-top: -35% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 25% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 55px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .button-image-left{
        margin-top: -28% !important;
        margin-left: 27% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -28% !important;
        margin-left: 60% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/375.jpg');
    }
}

@media  (max-width: 360px) {
    .image_middle {
        margin-left: 25% !important;
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-top: -35% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 25% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 60px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .button-image-left{
        margin-top: -30% !important;
        margin-left: 27% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -30% !important;
        margin-left: 62% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/360.jpg');
    }
}

@media  (max-width: 320px) {
    .image_middle {
        margin-left: 21% !important;
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-top: -42% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 21% !important;
    }

    .center-text {
        text-align: center !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 60px !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .button-image-left{
        margin-top: -32% !important;
        margin-left: 24% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -32% !important;
        margin-left: 65% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/320.jpg');
    }
}

.paddingViewProfile {
    padding-top: 100px !important;
}

.button-image-cover:hover {
    opacity: 1.0 !important;
}

@media (min-width: 1201px) {
    .button-image-left{
        margin-top: -40% !important;
        margin-left: 20% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-right{
        margin-top: -40% !important;
        margin-left: 60% !important;
        padding-left: 10px!important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 9px!important;
        opacity: 0.5 !important;
        padding-top: 06px !important;
    }

    .well {
        min-height: 180px !important;
        margin-top: 50px !important;
    }

    .image_middle {
        margin-left: 18% !important;
        float: left !important;
        height: 120px !important;
        width: 120px !important;
        padding: 0px !important;
        margin-top: -47% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 120px !important;
        width: 120px !important;
        padding: 0px !important;
        margin-left: 18% !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1250.jpg');
    }
}

.margin-0 {
    margin: 0px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.padding-left-right-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.avatar-users {
    width: 160px !important;
    height: 160px !important;
}

.user-box {
    height: 280px !important;
}