.modal-header {
    padding: 0;
}
.modal-header .close {
    padding: 10px 15px;
}
.modal-header ul {
    border: none;
}
.modal-header ul li {
    margin: 0;
}
.modal-header ul li a {
    border: none;
    border-radius: 0;
}
.modal-header ul li.active a {
    color: #e12f27;
}
.modal-header ul li a:hover {
    border: none;
}
.modal-header ul li a span {
    margin-left: 10px;
}
.modal-body .form-group {
    margin-bottom: 10px;
}

.style-link{
    color: #00B8B8 !important;
}

.style-link:hover{
    cursor: pointer !important;
    color: #337ab7;
}

.button-image-left:hover {
    opacity: 1.0 !important;
}

.button-image-right:hover{
    opacity: 1.0 !important;
}

.resize-none{
    resize: none !important;
}

@media (max-width: 991px) {
    .profile-padding {
        padding-bottom: 0px !important;
    }
}

@media  (min-width: 768px) {
    .image_middle {
        float: left !important;
        height: 130px !important;
        width: 130px !important;
        padding: 0px !important;
        margin-left: 15% !important;
        margin-top: -60% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 130px !important;
        width: 130px !important;
        padding: 0px !important;
        margin-left: 19% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .min-height-80 {
        min-height: 70px !important;
    }

    .button-image-left{
        margin-top: -42% !important;
        margin-left: 35% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/768.jpg');
    }

    .marginButtonUserHome {
        margin-left: 43% !important;
        border-radius: 5px !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 38.5% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }

    .InboxBox {
        min-height: 600px !important;
    }

    .OptionsBox {
        min-height: 600px !important;
    }

    #MessageSendBox, #MessageReadBox, #MessageInboxBox {
        min-height: 600px !important;
    }

    .displayBlock{
        display: none !important;
    }

    .marginTopFilter{
        margin-top: 60px !important;
    }

    .marginSearch {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 87% !important;
    }

    .paddingStyle{
        margin-top: 10px !important;
        padding-left: 40px !important; 
    }

    .marginTop25XS {
        margin-top: 25px !important;
    }
}

@media (min-width: 770px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/800.jpg');
    }
}

@media (min-width: 801px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/850.jpg');
    }
}

@media (min-width: 851px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/900.jpg');
    }
}

@media (min-width: 901px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/950.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 40% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 951px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1000.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 40.5% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (max-width: 991px) {
    .navbar > .container .navbar-header .navbar-brand {
        float: right !important;
        margin-right: 5% !important;
    }
}

@media (min-width: 992px) {
    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 29.3% !important;
    }

    .navbar > .container .navbar-header .navbar-brand {
        float: right !important;
    }

    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 86% !important;
    }
}

@media (min-width: 1001px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1050.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 29.3% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1051px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1100.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 30.3% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1101px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1150.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 31.4% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1151px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1200.jpg');
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 32% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1251px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1300.jpg');
    }    

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 1301px) {
    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1366.jpg');
    }    

    .UserInfoBox {
        text-align: left !important;
        min-height: 180px !important;
        margin-top: 10px !important;
    }
}

@media  (max-width: 767px) {
    #MessageReadBox {
        display: none;
    }

    .avatarXS {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    
    .marginTopMovil {
        margin-top: 25px !important;
    }

    .marginTopMovil-10 {
        margin-top: 10px !important;
    }

    .image_qrcode {
        float: left !important;
        height: 180px !important;
        width: 180px !important;
        padding: 0px !important;
        margin-left: 38% !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 3% !important;
    }

    .AvatarXSBox {
        width: 10% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 90% !important;
    }    

    .paddingProfile {
        padding-top: 45px !important;
    }

    .min-height-80 {
        min-height: 50px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }

    .center-box{
        margin-left: 36% !important;
    }

    .marginUserHome{
        margin-left: 33% !important;
    }

    .marginExploreUser{
        margin-left: 33% !important;
    }

    .marginButtonUserHome {
        margin-left: 40.6% !important;
        border-radius: 5px !important;
    }

    .displayBlock{
        display: block !important;
    }

    .centerTextExploreUser{
        text-align: center !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 92% !important;
    }

    .HiddenIfXS {
        display: none !important;
    }

    .paddingLeft15XS {
        padding-left: 15px !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 32% !important;
    }
}

@media  (max-width: 480px) {
    .avatarXS{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 32% !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 5% !important;
    }

    .AvatarXSBox {
        width: 15% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 85% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }

    .marginUserHome{
        margin-left: 21% !important;
    }

    .marginExploreUser{
        margin-left: 20% !important;
    }

    .marginButtonUserHome {
        margin-left: 34% !important;
        border-radius: 5px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 86% !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 20% !important;
    }
}

@media  (max-width: 415px) {
    .avatarXS{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 28% !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 6% !important;
    }

    .AvatarXSBox {
        width: 18% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 82% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/480.jpg');
    }

    .marginUserHome{
        margin-left: 15% !important;
    }

    .marginExploreUser{
        margin-left: 14% !important;
    }

    .marginButtonUserHome {
        margin-left: 31% !important;
        border-radius: 5px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 83% !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 15% !important;
    }
}

@media  (max-width: 375px) {
    .avatarXS{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 25% !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 6% !important;
    }

    .AvatarXSBox {
        width: 20% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 80% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/375.jpg');
    }

    .marginUserHome{
        margin-left: 10% !important;
    }

    .marginExploreUser{
        margin-left: 10% !important;
    }

    .marginButtonUserHome {
        margin-left: 28% !important;
        border-radius: 5px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 80% !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 10% !important;
    }
}

@media  (max-width: 360px) {
    .avatarXS{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 25% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 6% !important;
    }

    .AvatarXSBox {
        width: 20% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 80% !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/360.jpg');
    }

    .marginUserHome{
        margin-left: 8% !important;
    }

    .marginExploreUser{
        margin-left: 8% !important;
    }

    .marginButtonUserHome {
        margin-left: 27% !important;
        border-radius: 5px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 79% !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 9% !important;
    }
}

@media  (max-width: 320px) {
    .avatarXS{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .image_qrcode {
        float: left !important;
        height: 150px !important;
        width: 150px !important;
        padding: 0px !important;
        margin-left: 21% !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 7% !important;
    }

    .AvatarXSBox {
        width: 25% !important;
        display: block;
        position: relative;
        float: left;
    }

    .UserInfoBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 75% !important;
    }

    .paddingProfile {
        padding-top: 45px !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/320.jpg');
    }

    .marginUserHome{
        margin-left: 0% !important;
    }

    .marginExploreUser{
        margin-left: 1% !important;
    }

    .marginButtonUserHome {
        margin-left: 23% !important;
        border-radius: 5px !important;
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 75% !important;
    }

    .qrcodeImage {
        max-width: 250px !important;
        margin-left: 1% !important;
    }
}

.paddingViewProfile {
    padding-top: 100px !important;
}

.button-image-cover:hover {
    opacity: 1.0 !important;
}

@media (min-width: 1201px) {
    .button-image-cover {
        margin-left: 1% !important;
        margin-top: 1% !important;
        position: absolute !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 9px!important;
        opacity: 0.5 !important;
        padding-top: 06px !important;
    }

    .button-image-left{
        margin-top: -42% !important;
        margin-left: 37% !important;
        position: absolute !important;
        border-radius: 100% !important;
        width: 35px !important;
        height: 35px !important;
        padding-left: 10px!important;
        opacity: 0.5 !important;
        padding-top: 07px !important;
    }

    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 22.5% !important;
    }

    .UserInfoBox {
        text-align: left !important;
        min-height: 130px !important;
        margin-top: 10px !important;
    }

    .image_middle {
        margin-left: 18% !important;
        float: left !important;
        height: 120px !important;
        width: 120px !important;
        padding: 0px !important;
        margin-top: -60% !important;
    }

    .image_qrcode {
        float: left !important;
        height: 120px !important;
        width: 120px !important;
        padding: 0px !important;
        margin-left: 18% !important;
    }

    .pictureFrontCover {
        width:100%;
        height: 120px !important;
        background-image: url('../../assets/images/1250.jpg');
    }

    .DeleteSnippetBox {
        width: 50px !important;
        display: block;
        position: relative;
        float: left;
    }
    
    .SnippetBox {
        text-align: left !important;
        display: block;
        position: relative;
        float: left;
        width: 90% !important;
    }
}

@media (min-width: 1251px) {
    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 24% !important;
    }
}

.margin-0 {
    margin: 0px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.padding-left-right-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.avatar-users {
    width: 120px !important;
    height: 120px !important;
    margin-left: 50px !important;
}

.avatar-users:hover{
    cursor: pointer;
    cursor: hand;
}

.max-width-160 {
    max-width: 160px !important;
}

.user-box {
    height: 280px !important;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
img-crop {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img-crop canvas {
    display: block;
    left: 50%;
    outline: 0 none;
    position: absolute;
    top: 50%;
}

.styleBox {
    position: relative !important;
    background-color: #F4F4F4;
    border: 1px solid #E3E3E3;
    height: 330px !important;
    max-width: 225px !important;
    border-radius: 7px !important;
}

.styleBox:hover {
    box-shadow: 0 1px 7px -4px rgba(0, 0, 0, 0.9) !important;
}

.ImageBox {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.buttonContainer {
    position: absolute !important;
    bottom: 15px !important;
    margin-left: 63px !important;
}

.buttonProfile {
    border-radius: 1px !important;
}

.SocialList{
    display: block;
    height: 40px;
    opacity: 0.6;
    width: 40px;
    top: 0;
    font-size: 20px;
    position: relative;
    font-family: FontAwesome;
    text-indent: 0;
    line-height: 40px;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}

.SocialList:hover {
    opacity: 1.0 !important;
}

.HoverWhite {
    color: #FFFFFF !important;
}

.padding-top-2 {
    padding-top: 2px !important;
}

ul li a.social-ti-facebook {
    background: #3B5998;
}

ul li a.social-ti-twitter {
    background: #48C4D2;
}

ul li a.social-ti-dribbble {
    background: #EF5B92;
}

ul li a.social-ti-google {
    background: #DD4B39;
}

ul li a.social-ti-linkedin {
    background: #71B2D0;
}

ul li a.social-ti-youtube {
    background: #F45750;
}

ul li a.social-ti-rss {
    background: #FE9900;
}

ul li a.social-ti-behance {
    background: #5EB5FB;
}

ul li a.social-ti-dropbox {
    background: #85BEEC;
}

ul li a.social-ti-github {
    background: #94A5B0;
}

ul li a.social-ti-skype {
    background: #70CCEF;
}

ul li a.social-ti-spotify {
    background: #8BD05A;
}

ul li a.social-ti-stumbleupon {
    background: #F08066;
}

ul li a.social-ti-tumblr {
    background: #85A5C3;
}

ul li a.social-ti-vimeo {
    background: #7C99A8;
}

ul li a.social-ti-wordpress {
    background: #649EB9;
}

ul li a.social-ti-xing {
    background: #4F9394;
}

ul li a.social-ti-yahoo {
    background: #C38DCF;
}

ul li a.social-ti-vk {
    background: #708FAC;
}

ul li a.social-ti-instagram {
    background: #CBAA97;
}

ul li a.social-ti-reddit {
    background: #FF7A52;
}

ul li a.social-ti-flickr {
    background: #FF4DA9;
}
ul li a.social-ti-foursquare {
    background: #6FCCF4;
}

.ColorNavBar {
    background-color: #EBEBEB !important;
    height: 65px !important;
}

.ButtonRadius {
    border-radius: 4px !important;
	margin-top: 5px !important;
}

@media (min-width: 1251px) {
    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 23% !important;
    }
}

@media (min-width: 1366px) {
    .SocialIcon {
        margin-top: 5px !important;
        margin-left: 25.4% !important;
    }
}

a.ButtonImageSize {
    min-width: 50px !important;
    min-height: 50px !important;
}

.LoadImageModalButton {
    width: 100% !important;
}

.ListOptions {
    margin: 0;
    list-style: none;
    padding: 0;
    line-height: 34px;
    margin-top: 8px;
}

.MessageFrom {
    font-weight: bold;
    margin-top: 2px;
    color: #aeacb4;
    font-size: 14px;
}

.MessageFromSender {
	font-weight: bold;
	font-size: 16px !important;
	margin-top: 2px;
	color: #0b0b0b;
	opacity: 0.6;
}

.MessageFromReceiver {
    font-size: 12px !important;
    margin-top: 2px;
    color: #aeacb4;
}

.MessageSubject {
    font-size: 14px;
    margin-bottom: 4px;
    color: #5b5b60;
}

.MessageSubjectNoFound {
    font-size: 16px;
    margin-bottom: 4px;
    color: #5b5b60;
    opacity: 0.5;
    text-align: center;
}

.MessageTime {
    right: 15px;
    top: 8px;
    color: #8e8e93;
    font-size: 11px;
    float: right;
}

.MessageTimeLeft {
    right: 15px;
    top: 8px;
    color: #8e8e93;
    font-size: 11px;
}

.MessageContent {
    font-size: 12px;
    color: #c2c2c5;
    margin-bottom: 4px;
}

.profile-padding-inbox {
    min-height: 600px !important;
    position: relative !important;
    padding-top: 50px;
    background-color: #FFFFFF !important;
}

.OptionsBox {
    background-color: #ffffff !important;
}

.InboxBox {
    background-color: #ffffff !important;
}

.SendBox {
    min-height: 600px !important;
    background-color: #ffffff !important;
}

.MessageUnread {
    font-weight: bold !important;
}

.ReadUnreadBox {
    width: 5% !important;
    display: block;
    position: relative;
    float: left;
}

.MessageListBox {
    width: 95% !important;
    display: block;
    position: relative;
    float: left;
}

.NoMessage {
    bottom: 0;
    left: 0;
    margin-top: 50%;
    opacity: 0.5;
    position: relative;
    right: 0;
    text-align: center;
    font-weight: 300;
}

.IconSnippet {
    width: 20px !important;
    height: 20px !important;
}

.IconSnippetBox {
    width: 25px !important;
    text-align: left !important;
    display: block;
    position: relative;
    float: left;
}

.TitleSnippetBox {
    width: auto !important;
    text-align: left !important;
    display: block;
    position: relative;
    float: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.form-control.error {
    border-color: red;
}

.form-hint {
    font-size: 7pt;
    line-height: 9pt;
    margin: -5px auto 5px;
    color: #999;
}

.form-hint.error {
    color: #C00;
    font-weight: bold;
    font-size: 8pt;
}

.password-count {
    float: right;
    position: relative;
    bottom: 27px;
    right: 10px;
}

.strength-meter {
    position: relative;
    height: 3px;
    background: #DDD;
    margin: 10px auto 20px;
    border-radius: 3px;
}

.strength-meter:before,
.strength-meter:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 5px 0 5px;
    position: absolute;
    width: 80px;
    z-index: 10;
}

.strength-meter:before {
    left: 70px;
}

.strength-meter:after {
    right: 70px;
}

.strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
}

.strength-meter-fill[data-strength='0'] {
    background: darkred;
    width: 20%;
}

.strength-meter-fill[data-strength='1'] {
    background: orangered;
    width: 40%;
}

.strength-meter-fill[data-strength='2'] {
    background: orange;
    width: 60%;
}

.strength-meter-fill[data-strength='3'] {
    background: yellowgreen;
    width: 80%;
}

.strength-meter-fill[data-strength='4'] {
    background: green;
    width: 100%;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.msg-block {
    margin-top:5px;
}

.msg-error {
    color:#F00;
    font-size:14px;
}

.cursordefault{
    cursor: default;
}

.ButtonMoreUser{
    border: none !important;
}

.ListMoreUser{
    min-height: 45px !important;
    border-bottom: none !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.displayBlockAll{
    display: block !important;
}

.backgroundMessageSelectedColor {
    background-color: #cbf4fa !important;
}

.margin-top-12 {
    margin-top: 12px !important;
}

.image-hand{
    width: 20px !important;
    height: 20px !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.margin-top-21 {
    margin-top: 21px !important;
}

.btnRadius10{
    border-radius: 10px !important;
}

.textColorWhite {
    color: #FFFFFF !important;
}

span.stars, span.stars span {
    display: block;  
    background: url('../images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.pointerHover:hover{
    cursor: pointer !important;
    cursor: hand !important;
}

/* ---------------------------------------------------------------------- */
/*  Notification Icons
/* ---------------------------------------------------------------------- */
.demo-notification-icons notification-icon {
    display: table;
    margin: 0 auto;
  }
  
  .custom-style .angular-notifications-icon {
    left: -10px;
    background: yellow;
    color: black;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    font-size: 1.2em;
  }
  
  .angular-notifications-icon.my-custom-animation {
    -moz-transition: linear 0.5s all;
    -o-transition: linear 0.5s all;
    -webkit-transition: linear 0.5s all;
    transition: linear 0.5s all;
  }
  
  .angular-notifications-icon.my-custom-animation-add {
    background: black;
    color: white;
  }
  
  .angular-notifications-icon.my-custom-animation-add-active {
    background: yellow;
    color: black;
  }

  .positionInheritIcon {
      position: absolute !important;      
      left: 40px !important;
      line-height: 20px !important;
      font-size: 14px !important;
  }

  .iconClose {
    position: absolute;
    top: -1px;
    z-index: 2;
    font-size: 12px;
    left: 32px;
  }

  .opacity6 {
    opacity: 0.6 !important;
  }

  .opacity6:hover {
    opacity: 1.0 !important;
  }

  .verticalOverflow {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }

  .iconClap {
    width: 30px !important;
    margin-top: -10px !important;
  }
  
  .iconMessage {
    width: 45px !important;
    margin-top: -5px !important;
  }

  .iconClapMini {
    width: 16px !important;
    margin-top: -6px !important;
  }

  .border-radius10 {
      border-radius: 10px !important;
  }

  .adminInfoUser {
      width: 85% !important;
      text-align: left !important;
      display: block;
      position: relative;
      float: left;
  }

  .adminDeleteUser {
      width: 5% !important;
      text-align: left !important;
      display: block;
      position: relative;
      float: left;
  }